<div class="landing">
  <h1><span class="muted">the</span> Crypto <span class="muted">port</span>Folio</h1>
  <p class="lead">Manage your crypto portfolio easily</p>
  <form [formGroup]="currencyForm">
    <p class="lead">
      Supports
      <select formControlName="currency">
        <option value="">your native</option>
        <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency}}</option>
      </select>
      currency!
    </p>
    <hr />
    <p class="lead">
      Community-driven project, see
      <a routerLink="/help">Help</a>
      for details
    </p>
  </form>
</div>
