<form [formGroup]="newTransactionForm">

  <table class="table table-borderless table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Asset</th>
        <th scope="col">Amount</th>
        <th scope="col">Cost USD</th>
        <th scope="col">Cost {{ currency$ | async }}</th>
        <th scope="col">Cost# USD</th>
        <th scope="col">Cost# {{ currency$ | async }}</th>
        <th scope="col">Value USD</th>
        <th scope="col">Value {{ currency$ | async }}</th>
        <th scope="col">ROI USD</th>
        <th scope="col">ROI {{ currency$ | async }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of assetTotals$ | async">
        <td class="asset">
          <img src="{{ ((tokenImages$ | async) || {})[item.asset] }}" />
          {{ item.asset }}
        </td>
        <td>{{ item.amount | amount }}</td>
        <td>{{ item.costUSD | currency }}</td>
        <td>{{ item.costNative | currency }}</td>
        <td>{{ item.unitCostUSD | currency }}</td>
        <td>{{ item.unitCostNative | currency }}</td>
        <td>{{ item.valueUSD | currency }}</td>
        <td>{{ item.valueNative | currency }}</td>
        <td>{{ item.roiUSD | roi }}</td>
        <td>{{ item.roiNative | roi }}</td>
      </tr>
      <tr *ngIf="newTransactionActive" class="actions" (keydown)="newTransactionKey($event)">
        <td>
          <input type="text" required formControlName="asset" appAutofocus
            [ngbTypeahead]="searchToken" />
        </td>
        <td>
          {{ newTransactionForm.get('type')!.value === 'buy' ? '+' : '-' }}
          <input type="number" required min="0" formControlName="amount" />
        </td>
        <td>
          <input type="number" required min="0" formControlName="costUSD" />
          <p *ngIf="newTransactionForm.get('unitCostUSD')!.value">
            {{ newTransactionForm.get('unitCostUSD')!.value | currency }}
            USD per
            {{ newTransactionForm.get('asset')!.value | uppercase }}
          </p>
        </td>
        <td>
          <input type="number" required min="0" formControlName="costNative" />
          <p *ngIf="newTransactionForm.get('unitCostNative')!.value">
            {{ newTransactionForm.get('unitCostNative')!.value | currency }}
            {{ currency$ | async }} per
            {{ newTransactionForm.get('asset')!.value | uppercase }}
          </p>
        </td>
        <td colspan="4">
          <button type="button" class="btn btn-success" (click)="submitAdd()" [disabled]="!newTransactionForm.valid">
            <i-feather name="check"></i-feather>
          </button>
          <button type="button" class="btn btn-danger" (click)="cancelAdd()">
            <i-feather name="x"></i-feather>
          </button>
        </td>
      </tr>
      <tr *ngIf="!newTransactionActive" class="actions add">
        <td colspan="10">
          <button type="button" class="btn btn-success" (click)="newPurchase()">
            <i-feather name="plus-square"></i-feather> purchase (today)...
          </button>
          <button type="button" class="btn btn-success" (click)="newSale()">
            <i-feather name="minus-square"></i-feather> sale (today)...
          </button>
        </td>
      </tr>
      <ng-container *appNgVar="summary$ | async as summary">
        <tr *ngIf="summary">
          <td class="asset">{{ summary.asset }}</td>
          <td></td>
          <td>{{ summary.costUSD | currency }}</td>
          <td>{{ summary.costNative | currency }}</td>
          <td></td>
          <td></td>
          <td>{{ summary.valueUSD | currency }}</td>
          <td>{{ summary.valueNative | currency }}</td>
          <td>{{ summary.roiUSD | roi }}</td>
          <td>{{ summary.roiNative | roi }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>

</form>
