table {
  margin-top: 5rem;
  tr.add button {
    margin-left: 2em;
  }
  th {
    background: linear-gradient(#555, #333);
    text-align: center;
  }
  td {
    white-space: nowrap;
    vertical-align: middle;
    text-align: right;
  }
  td.asset {
    font-weight: bold;
    text-align: left;
  }
  tr.actions td {
    text-align: left;
  }
  button + button {
    margin-left: 1em;
  }
}

input.ng-invalid {
  border-color: red;
}

input[formcontrolname='asset'] {
  width: 3em;
}
input[formcontrolname='amount'] {
  width: 6em;
}
input[formcontrolname='costUSD'] {
  width: 8em;
}
input[formcontrolname='costNative'] {
  width: 8em;
}
