main {
  padding-top: 5rem;
}

small {
  display: block;
  margin: 2em 5em 1em 5em;
}

nav.navbar-dark {
  background: linear-gradient(#666, #222);
}
.navbar-brand {
  font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.6);
  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  &.active {
    color: rgba(255, 255, 255, 1);
  }
  &.disabled {
    color: rgba(255, 255, 255, 0.3);
  }
}
.navbar-toggler:focus {
  outline-color: #ddd;
}
