<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">CryptoFolio</a>
  <button type="button" class="navbar-toggler" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul ngbNav class="navbar-nav">
      <li ngbNavItem>
        <a class="nav-link" [ngClass]="{disabled: !currencySet}" routerLink="/portfolio" routerLinkActive="active" (click)="isMenuCollapsed = true">Portfolio</a>
      </li>
      <li ngbNavItem>
        <a class="nav-link" [ngClass]="{disabled: !currencySet}" routerLink="/transactions" routerLinkActive="active" (click)="isMenuCollapsed = true">Transactions</a>
      </li>
      <li ngbNavItem>
        <a class="nav-link" routerLink="/backup" routerLinkActive="active" (click)="isMenuCollapsed = true">Backup</a>
      </li>
      <li ngbNavItem>
        <a class="nav-link" routerLink="/help" routerLinkActive="active" (click)="isMenuCollapsed = true">Help</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>

<small>Powered by <a href="https://www.coingecko.com/api">CoinGecko API</a></small>
