<form [formGroup]="filterForm">
  <div class="row filters">
    <div class="col-sm-12 col-md-3 text-nowrap">
      <i-feather name="search" class="search"></i-feather>
      <input type="text" formControlName="asset" placeholder="Asset"
        [ngbTypeahead]="searchUserToken" [editable]="false" />
    </div>
    <div class="col-sm-5 col-md-3">
      <input type="date" formControlName="dateFrom" appEmptyInput [max]="filterForm.get('dateTo')!.value" />
    </div>
    <div class="col-sm-2 col-md-1">-</div>
    <div class="col-sm-5 col-md-3">
      <input type="date" formControlName="dateTo" appEmptyInput [min]="filterForm.get('dateFrom')!.value" />
    </div>
    <div class="col-sm-12 col-md-2">
      <button type="button" class="btn btn-danger" (click)="clearFilters()" [disabled]="!filterActive">
        <i-feather name="slash"></i-feather>
      </button>
    </div>
  </div>
</form>

<form [formGroup]="newTransactionForm">

  <table class="table table-borderless table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Asset</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Cost USD</th>
        <th scope="col">Cost {{ currency$ | async }}</th>
        <th scope="col">Cost# USD</th>
        <th scope="col">Cost# {{ currency$ | async }}</th>
        <th></th>
        <th scope="col">Total</th>
        <th scope="col">Total USD</th>
        <th scope="col">Total {{ currency$ | async }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of transactions$ | async">
        <td class="asset">
          <img src="{{ ((tokenImages$ | async) || {})[item.asset] }}" />
          {{ item.asset }}
        </td>
        <td>{{ item.date | date:"yyyy-MM-dd" }}</td>
        <td>
          {{ (item.amount === 0 ? 0 : item.type === 'buy' ? 1 : -1) | signum }}{{ item.amount | amount }}
        </td>
        <td>{{ item.costUSD | currency }}</td>
        <td>{{ item.costNative | currency }}</td>
        <td>{{ item.unitCostUSD | currency }}</td>
        <td>{{ item.unitCostNative | currency }}</td>
        <td></td>
        <td>{{ item.total | amount }}</td>
        <td>{{ item.totalUSD | currency }}</td>
        <td>{{ item.totalNative | currency }}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteTransaction(item)" title="Delete transaction">
            <i-feather name="delete"></i-feather>
          </button>
        </td>
      </tr>
      <tr *ngIf="newTransactionActive" class="actions" (keydown)="newTransactionKey($event)">
        <td>
          <input type="text" required formControlName="asset" appAutofocus
            [ngbTypeahead]="searchToken" />
        </td>
        <td>
          <input type="date" required formControlName="date" appEmptyInput />
        </td>
        <td>
          {{ newTransactionForm.get('type')!.value === 'buy' ? '+' : '-' }}
          <input type="number" required min="0" formControlName="amount" />
        </td>
        <td>
          <input type="number" required min="0" formControlName="costUSD" />
          <p *ngIf="newTransactionForm.get('unitCostUSD')!.value">
            {{ newTransactionForm.get('unitCostUSD')!.value | currency }}
            USD per
            {{ newTransactionForm.get('asset')!.value | uppercase }}
          </p>
        </td>
        <td>
          <input type="number" required min="0" formControlName="costNative" />
          <p *ngIf="newTransactionForm.get('unitCostNative')!.value">
            {{ newTransactionForm.get('unitCostNative')!.value | currency }}
            {{ currency$ | async }} per
            {{ newTransactionForm.get('asset')!.value | uppercase }}
          </p>
        </td>
        <td colspan="5">
          <button type="button" class="btn btn-success" (click)="submitAdd()" [disabled]="!newTransactionForm.valid">
            <i-feather name="check"></i-feather>
          </button>
          <button type="button" class="btn btn-danger" (click)="cancelAdd()">
            <i-feather name="x"></i-feather>
          </button>
        </td>
      </tr>
      <tr *ngIf="!newTransactionActive" class="actions add">
        <td colspan="10">
          <i-feather name="filter" *ngIf="filterActive" class="filterActive"
            title="Transactions are currently filtered"></i-feather>
          <button type="button" class="btn btn-success" (click)="newPurchase()">
            <i-feather name="plus-square"></i-feather> purchase...
          </button>
          <button type="button" class="btn btn-success" (click)="newSale()">
            <i-feather name="minus-square"></i-feather> sale...
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</form>
