table {
  margin-top: 1rem;
  tr.add button {
    margin-left: 2em;
  }
  tr.add .filterActive {
    margin-left: 1em;
  }
  th {
    background: linear-gradient(#555, #333);
    text-align: center;
  }
  td {
    white-space: nowrap;
    vertical-align: middle;
    text-align: right;
  }
  td.asset {
    font-weight: bold;
    text-align: left;
  }
  tr.actions td {
    text-align: left;
  }
  button + button {
    margin-left: 1em;
  }
}

input.ng-invalid {
  border-color: red;
}

input[formcontrolname='asset'] {
  width: 3em;
}
input[formcontrolname='date'] {
  width: 9em;
}
input[formcontrolname='amount'] {
  width: 6em;
}
input[formcontrolname='costUSD'] {
  width: 8em;
}
input[formcontrolname='costNative'] {
  width: 8em;
}

.filters {
  text-align: center;
  font-size: 20px;
  margin-top: 2rem;
  input[formcontrolname='asset'] {
    width: 4em;
    margin-bottom: 1em;
    padding-left: 5px;
  }
  input[formcontrolname='dateFrom'] {
    max-width: 12em;
    width: 100%;
  }
  input[formcontrolname='dateTo'] {
    max-width: 12em;
    width: 100%;
    margin-bottom: 1em;
  }
  .search {
    vertical-align: top;
    margin-right: 5px;
  }
}
