input, select {
  border-radius: 3px;
  border-width: 2px;
  border-style: groove;
  &[disabled] {
    background-color: #eee;
  }
  &:focus {
    outline-width: 0;
    border-color: #bbb;
  }
  &[type="file"] {
    border-style: none;
  }
  &[type="date"].empty {
    color: #777;
  }
}
button {
  &[disabled] {
    cursor: default;
  }
  i-feather {
    margin: 0 -2px;
    svg {
      margin-top: -4px;
    }
  }
}

$table-border-radius: 6px;
th:first-of-type {
  border-top-left-radius: $table-border-radius;
}
th:last-of-type {
  border-top-right-radius: $table-border-radius;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: $table-border-radius;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: $table-border-radius;
}
th {
  border-top: none !important;
}
