<div class="contents">
  <button type="button" class="btn btn-success" (click)="export()">
    <i-feather name="download"></i-feather>
    Export data
  </button>

  <form [formGroup]="importForm" (submit)="import($event)">
    <input type="file" name="file" formControlName="file" accept=".json" required />
    <button type="submit" class="btn btn-success" [disabled]="!importForm.valid">
      <i-feather name="upload"></i-feather>
      Import data
    </button>
    <p class="text-danger">{{ errorMessage }}</p>
  </form>

  <button type="button" class="btn btn-danger" (click)="clear()">
    <i-feather name="trash2"></i-feather>
    Clear data!
  </button>
</div>
