<span>
  <a [href]="'ethereum:'+address | safeUrl" (click)="false">{{address}}</a>
  <button type="button" class="btn btn-primary btn-sm" (click)="copy()" style="margin-left: 1em">
    <i-feather name="clipboard" style="width: 1em; height: 1em"></i-feather>
  </button>
  <input #field type="text" [value]="address" style="position: absolute; left: -1000px; top: -1000px" />
</span>
