<div class="contents">
  <h1>Please support the project!</h1>
  <p class="lead">You are welcome to donate to Ethereum address:</p>
  <app-address address="0xBD469700ca7e8CF3Fbdd382F9b57D7337d45fDf3"></app-address>
  <p>(please use any of: ETH/WETH, DAI/USDC/USDT, WBTC)
  <hr />
  <p class="lead">You can submit Bugs or request Enhancements</p>
  <p>Just use <a target="_blank" href="https://gitlab.com/crypto-portfolio/cryptofolio/-/issues">the issue tracker</a></p>
</div>
